@{
    ViewData["Title"] = "Home Page";
    var isAdmin = User.FindFirst("RoleName")?.Value == "Admin";
}

<div class="content-header">
    <div class="container-fluid"></div>
</div>

<section class="content">
    <div class="container-fluid">
        @if (isAdmin)
        {
            <div class="row">

                <div class="col-lg-3 col-6">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3 id="staffCount">0</h3>
                            <p>Total Staff</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person"></i>
                        </div>
                        <a href="@Url.Action("StaffList", "Entry")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-3 col-6">
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3 id="categoryCount">0</h3>
                            <p>Categories</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-ios-list"></i>
                        </div>
                        <a href="@Url.Action("Category", "Entry")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-3 col-6">
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3 id="recipeCount">0</h3>
                            <p>Recipes</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-utensils"></i>
                        </div>
                        <a href="@Url.Action("RecipeList", "Entry")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-3 col-6">
                    <div class="small-box txt_white" style="background-color:mediumslateblue;">
                        <div class="inner">
                            <h3 id="roleCount">0</h3>
                            <p>Roles</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-stalker"></i>
                        </div>
                        <a href="@Url.Action("Role", "Entry")" class="small-box-footer txt_white">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

            </div>
        }
    </div>
</section>

@section Scripts {
@if (isAdmin)
{
<script>
    var countsLoaded = false;

    $(document).ready(function () {
        if (countsLoaded) return;
        countsLoaded = true;
        loadCounts();
    });

    function loadCounts() {
        $.ajax({
            type: 'GET',
            url: '/api/get_counts',
            cache: false,
            timeout: 10000
        }).done(function (res) {
            $('#staffCount').text(res && res.staff_count ? res.staff_count : 0);
            $('#categoryCount').text(res && res.category_count ? res.category_count : 0);
            $('#recipeCount').text(res && res.recipe_count ? res.recipe_count : 0);
            $('#roleCount').text(res && res.role_count ? res.role_count : 0);
        }).fail(function () {
            console.error('Failed to load counts');
        });
    }
</script>
}
}

